footer{
    text-align: center;
    background: #ffffff;
    padding: 0.5rem 0;
    border-top: 2px solid #111;
    height: auto;
}

footer>span{
    margin: 0 1rem;
    font-size: 0.8rem;
    font-family: sans-serif;
}

.footer_icon{
    margin: 0.2rem 0.5rem;
    font-size: 1rem;
}
